<h1 class="text-center m-4"><%= @cocktail.name %></h1>

<div class="container">

    <div class="row justify-content-center" >
        <div class="column col-5 card shadow m-2 p-4">
            <h2><%= @cocktail.name %></h2>
            <% @cocktail.doses.each do |dose| %>
            <div class="card rounded shadow p-3 my-2">
                <div class="px-3 row justify-content-between align-items-baseline">
                  <h3><%= dose.ingredient.name %> </h3>
                  <h4> <%= dose.description %></h4>
                <%= link_to dose_path(@cocktail), method: :delete, class: 'btn btn-outline-danger w-25 justify-content-right' do %>
                  <i class="fas fa-times"></i>
                <% end %>
                </div>
            </div>
            <% end %>
            <%= link_to new_cocktail_dose_path(@cocktail),  class: 'btn btn-outline-primary mt-2' do %>
            <i class="fas fa-plus"></i>
            <% end %>
        </div>
        <div class="column col-5 card shadow m-2 p-4" style="box-sizing: content-box">
            <img style="box-sizing: border-box; heigth:500px;" src="https://cdn-elle.ladmedia.fr/var/plain_site/storage/images/elle-a-table/recettes-de-cuisine/cocktail-vodka-tarte-tatin-3697376/88063187-1-fre-FR/Cocktail-Vodka-tarte-tatin.jpg" alt="">
        </div>
    </div>
</div>

